<html>

    <head>

        <link rel="stylesheet" type="text/css" href="resources/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="resources/css/style.css" />
		<link rel="stylesheet" type="text/css" href="resources/css/animate-custom.css" />
    </head>
    <body>
        <div class="container">
         
            <section>				
                <div id="container_demo" >
                    <div id="wrapper">
                        

                        <div ng-controller="UserController as ctrl">
                            <form ng-submit="ctrl.submit()"> 
                                <h1> Sign up </h1> 
                                <p> 
                                    <label for="id" class="uname" data-icon="u">Your username</label>
                                    <input id="id" name="id" ng-model="ctrl.user.id" required="required" type="text" placeholder="mysuperusername690" />
                                </p>
                                <p> 
                                    <label for="name" class="youmail" data-icon="e" > Your email</label>
                                    <input id="name" name="name" ng-model="ctrl.user.name" required="required" type="email" placeholder="mysupermail@mail.com"/> 
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                    <input id="passwordsignup" name="passwordsignup" ng-model="ctrl.user.password"  required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" ng-model="ctrl.user.password"  required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p class="signin button"> 
									<input type="submit" id = "Register" value="Sign up"/> 
								</p>
                                <p class="change_link">  
									Already a member ?
									<a href="#/tologin"  id="tologin" class="to_register"> Go and log in </a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>