<div class="container-fluid" ng-controller="CircleController as ctrl">



<input type="text" ng-model="ctrl.circle.name">
<input type="button" value="Add" class="btn btn-primary"
				ng-click="ctrl.createCircle()" />
				

	<h2> Existing Circles </h2> 
	
Search Circle : <input type="text" ng-model="searchKeyword">
	
	<table border="2">
			<thead>
				<tr>
					<th>S.No</th>
					<th>Circle Name</th>
					<th>Admin</th>
					<th>Created Date</th>
					<th>Status</th>
				</tr>
			</thead>
			<tr ng-repeat="circle in circles | filter: searchKeyword">

				<td>{{ $index + 1 }}</td>
				<td>{{circle.name}}</td>
				<td>{{circle.adminID}}</td>
				<td>{{circle.createdDate}}</td>
				<td>{{circle.status}}</td>
			</tr>
		</table>
	
</div>
