<div class="container-fluid" ng-controller="CircleController as ctrl">



<input type="text" ng-model="ctrl.circle.name">
<input type="button" value="Add" class="btn btn-primary"
				ng-click="ctrl.createCircle()" />
				

	<h2> Existing Circles </h2> 
	
Search Circle : <input type="text" ng-model="searchKeyword">
	
	<table border="2">
			<thead>
				<tr>
					<th>S.No</th>
					<th>Circle Name</th>
					<th>Admin</th>
					<th>Created Date</th>
					<th>Status</th>
				</tr>
			</thead>
			<tr ng-repeat="circle in circles | filter: searchKeyword">

				<td>{{ $index + 1 }}</td>
				<td> <a href="#" ng-click="ctrl.getCircleUsers(circle.name)"> {{circle.name}}</a>   </td>
				<td>{{circle.adminID}}</td>
				<td>{{circle.createdDate}}</td>
				<td>{{circle.status}}</td>
			</tr>
		</table>
		</br></br></br>
		<hr>
		
		<h2>List of users in the circle {{selectedCircle}}</h2>
			<table border="2">
			
			<tr ng-repeat="circleUser in circleUsers">

				<td>{{ $index + 1 }}</td>
				<td>{{circleUser.userID}}</td>
				<td><a href="#" ng-click="ctrl.removeUserFromCircle(circleUser.userID)"> (-) </a></td>
			</tr>
		</table>
		
		<h3><a href="#" ng-click="ctrl.getOtherUsers()">Add users to circle {{selectedCircle}}</a></h3>
		
		
		
		<table border="2">
			
			<tr ng-repeat="id in otherUserIds">

				<td>{{ $index + 1 }}</td>
				<td>{{id}}</td>
				<td><a href="#" ng-click="ctrl.addUserToCircle(id)"> (+) </a></td>
				
			</tr>
		
		
		
		
		
		
		
		
		
		
		
	
</div>
